.container {
  position: relative;
  margin: 0 20px;
  padding: 20px 0;
}

.desktopImage {
  width: 100%;
  height: auto;
  display: none;
}

.mobileImage {
  width: 100%;
  height: auto;
  display: block;
}

.containerImg {
  border-radius: 30px;
  background: var(--component-background);
  padding: 20px 40px 0;
  max-width: 335px;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .desktopImage {
    display: block;
  }

  .mobileImage {
    display: none;
  }
}
