.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 15px;
  background: var(--component-background);
  position: relative;
}

.container {
  display: flex;
  gap: 10px;
}

.user {
  width: 35px;
  height: 35px;
  border: 1px solid var(--border);
  border-radius: 50px;
  background: var(--input-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background: inherit;
  border: none;
}
